body{
    background: rgb(38, 149, 253);
    font: normal 15pt Arial;
    
}

header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
}

section{

        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin:auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
        
}

div{
    text-align: center;
    padding: 10px;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
}
img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }